<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>nome: </label>
        <input name="nome"><br>
        <label>idade: </label>
        <input name="idade"><br>
        <label>funcao: </label>
        <input name="funcao"><br>
        <label>imagem: </label>
        <input name="imagem"><br>
        <button submit="submit">Enviar</button>
    </form>
</body>
</html>