<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
            <p class="{{ categoria }}">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label >nome: </label>
        <input name="nome"><br>
        <label method="POST">senha: </label>
        <input name="senha"><br>
        <button type="submit">enviar</button>
    </form>
</body>
</html>